<!-- <div class="pad-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title center-horizontal">Memotest</h5>
            <p class="card-text center-horizontal">
                Encuentre y seleccione las parejas para ganar.
            </p>

            <div class="pad-3 center-vertical row">
                <span class="col-3 center-horizontal" *ngFor="let card of cards; index as i">
                    <img class="img-card" src="{{ card.visible ? card.url : imagesInact }}" (click)="CardSelected(i)" />
                </span>
            </div>
            <div style="margin-top: 1rem">
                <button class="btn btn-success col-12" (click)="StartGame()">
                    Reiniciar
                </button>
            </div>
        </div>
    </div>
</div>
<app-resultado [mensaje]="successMessage" valido="{ true; delay(2000).subscribe(() => {return false; });}">
</app-resultado> -->

<app-titulo titulo="Pondremos a prueba tu memoria"></app-titulo>

<div class="container">
    <div class="offset-md-2 col-md-8 text-center">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title center-horizontal">Memotest</h5>
                    <p class="card-text center-horizontal">
                        Encuentre y seleccione las parejas para ganar.
                    </p>
        
                    <!-- <div class="pad-3 center-vertical row">
                        <span class="col-3 center-horizontal" *ngFor="let card of cards; index as i">
                            <img class="img-card" src="{{ card.visible ? card.url : imagesInact }}" (click)="CardSelected(i)" />
                        </span>
                    </div>
                    <div style="margin-top: 1rem">
                        <button class="btn btn-success col-12" (click)="StartGame()">
                            Reiniciar
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
