<app-titulo titulo="Resultados de los juegos"></app-titulo>

<div class="container">
    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Adivina el Número</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Jugador</th>
                    <th>Fecha dela última partida </th>
                    <th>Ganadas</th>
                    <th>Perdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoNs">
                    <td class="w-25">{{resultado.jugador}} </td>
                    <td class="w-25">{{resultado.createdAt}}</td>
                    <td class="w-25">{{resultado.ganadas}}</td>
                    <td class="w-25">{{resultado.perdidas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th> <h2>Piedra, papel o tijera</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Ganadas</th>
                    <th class="w-25">Perdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoPpt">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.ganadas}}</td>
                    <td>{{resultado.perdidas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Tatetí</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Ganadas</th>
                    <th class="w-25">Perdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoTateti">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.ganadas}}</td>
                    <td>{{resultado.perdidas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th ><h2>Agilidad Aritmética</h2></th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Ganadas</th>
                    <th class="w-25">Perdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoOp">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.ganadas}}</td>
                    <td>{{resultado.perdidas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Anagrama</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Partidas</th>
                    <th class="w-25">Cantidad de palabras adivinadas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listado">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.partidas}}</td>
                    <td>{{resultado.palabrasAdivinadas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Ahorcado</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Ganadas</th>
                    <th class="w-25">Perdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoAhorcado">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.ganadas}}</td>
                    <td>{{resultado.perdidas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Memotest</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="w-25">Jugador</th>
                    <th class="w-25">Fecha de la última partida</th>
                    <th class="w-25">Partidas Jugadas</th>
                    <th class="w-25">Puntos acumulados</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listadoMemo">
                    <td>{{resultado.jugador}} </td>
                    <td>{{resultado.createdAt}}</td>
                    <td>{{resultado.partidas}}</td>
                    <td>{{resultado.puntosAcumulados}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>