<div class="container p-5 animated fadeIn faster">
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4 back-color" routerLink="/Juegos">
            <div class="card h-100 border-back">
                <img src="../assets/imagenes/saladejuegos.png" class="card-img-top p-5" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Juegos</h1>
                    <p class="card-text">Demostrá tus habilidades con esta serie de juegos didácticos</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 back-color" routerLink="/Listado">
            <div class="card h-100 border-back">
                <img src="./assets/imagenes/listado.png" class="card-img-top p-5" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Listados de resultados</h1>
                    <p class="card-text">Los listados de los resultados con ordenamiento y búsqueda</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 back-color" >
            <div class="card h-100 border-back">
                <img src="./assets/imagenes/config.png" class="card-img-top p-5" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Configuración</h1>
                    <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 back-color" routerLink="/Jugadores">
            <div class="card h-100 border-back">
                <img src="./assets/imagenes/jugadores.png" class="card-img-top p-5" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Jugadores</h1>
                    <p class="card-text">Listado de jugadores con su información y resultados</p>
                </div>
            </div>
        </div>
    </div>
</div>
