h1 {
    color: #311B92;
    font-size: 40px;
}

.divider {
    width: 100%;
    max-width: 370px;
    height: 1px;
    margin: 40px auto;
    display: block;
    position: relative;
    background: #e5e5e5;
}

@media screen and (max-width: 400px) {
    .title-block h1{
      font-size: 30px;
        padding: 0 20px;
    }
  }