<app-titulo titulo="Listado de los jugadores registrados"></app-titulo>

<div class="container">
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr class="text-left juego">
                    <th><h2>Jugadores</h2></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th>Nombre de usuario</th>
                    <th>UID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of listado; index as i">
                    <th scope="row">{{i}}</th>
                    <td>{{jugador.name}} </td>
                    <td>{{jugador.uid}} </td>
                    <td>{{jugador.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>