.btn-violet{
    color: #fff;
    background-color: #311B92;
    cursor: pointer;
  }
  
  .btn-violet:hover {
      background-color: #6200EA
    }
  
    a, a:visited {
        color: #311B92;
        text-decoration: underline;
        cursor: auto;
        font-size: 25px;
      }
      
      a:hover {
        color: #6200EA;
      }

      p {
          font-size: 18px;
      }