
<div class="container">
    <div class="offset-md-2 col-md-8 text-center">
        <div id="snackbar" class="speech-bubble">{{ Mensajes }}</div>
        <div class="imagen animated fadeInUp"><img src="../../../assets/imagenes/adivina.jpg" alt=""></div>
        <div class="card text-center">
            <div class="card-header">
                <h2 class="card-title">Ingresá un número</h2>
                <p *ngIf="nuevoJuego.numeroSecreto != 0 " class="card-text">Recuerda que te quedan
                    <span>{{ 5 - contador }}</span> intentos, asi que elige con cuidado.</p>
            </div>
            <div class="card-body">
                <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="?" name="numeroIngresado" type="text"
                    class="form-control text-center display-2" style="width:35%; height:80px; font-size:40px;" />

                <div [hidden]="ocultarVerificar" class="mt-5">
                    <button *ngIf="nuevoJuego.numeroSecreto != 0" (click)="verificar()"
                        class="btn btn-outline-dark w-50">Verificar</button>
                </div>
                <div class="text-center mt-5">
                    <button *ngIf="nuevoJuego.numeroSecreto == 0 " (click)="generarnumero()"
                        class="btn back w-50">Jugar</button>
                </div>
            </div>
        </div>
    </div>
</div>
