<div class="container-juegos">
    <div class="row text-center pl-5 pr-5 pb-5">
        <div class="col">
            <form>
                <div class="form-group text-center">
                    <img class="card-img-top w-50" src="./assets/imagenes/login.png" alt="Card image cap">
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" [class.text-danger]="email.invalid && email.touched">Email</label>
                    <div class="col-10 ">
                        <input class="form-control " type="text" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
                        <small class="form-text text-danger" *ngIf="email.invalid && email.touched">Ingresar: admin@gmail.com</small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label class="col-2 col-form-label" [class.text-danger]="clave.invalid && clave.touched">Clave</label>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Clave" name="clave" required [(ngModel)]="usuario.clave" [class.is-invalid]="clave.invalid && clave.touched" #clave="ngModel" minlength="6">
                        <small class="form-text text-danger" *ngIf="clave.invalid && clave.touched">Ingresar: 123456</small>
                    </div>
                </div>
                <div class="form-check text-left">
                    <input type="checkbox" class="form-check-input ml-1" id="exampleCheck1">
                    <label class="form-check-label ml-5" for="exampleCheck1">Recordar mis datos</label>
                </div>
                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-outline-primary w-50">Ingresar</button>
                </div>
            </form>   
            <hr>

        </div>
    </div>
    <div class="row p-5">
        <div class="col-8 text-left">
            <button class="btn btn-danger mr-2" routerLink="/Principal">Cancelar</button>
            <button class="btn btn-success" routerLink="/Registro">Registrarse</button>
        </div>
        <div class="col-4 text-right">
            <a routerLink="/Principal">¿Te olidaste la clave?</a>
        </div>
    </div>
</div>