<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="dark" scope="col">Juego</th>
                        <th class="dark" scope="col">Jugador</th>
                        <th class="dark" scope="col">Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let juego of listado">
                        <td> {{ juego.nombre }} </td>
                        <td> {{ juego.jugador }} </td>
                        <td *ngIf="juego.gano"> Ganó </td>
                        <td *ngIf="!juego.gano"> Perdio</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>