<nav class="navbar navbar-expand-lg back navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/imagenes/wolverine.png" width="30" height="30" class="pb-2" alt="" loading="lazy">
        Sala de Juegos
      </a>
    <a class="navbar-brand" routerLink="/Principal"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Menú de Juegos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="Juego('Adivina')">Adivina</a>
                    <a class="dropdown-item" (click)="Juego('Agilidad')">Agilidad</a>
                    <a class="dropdown-item" (click)="Juego('Ahorcado')">Ahorcado</a>
                    <a class="dropdown-item" (click)="Juego('Anagrama')">Anagrama</a>
                    <a class="dropdown-item" (click)="Juego('Ppt')">Piedra Papel Tijera</a>
                    <a class="dropdown-item" (click)="Juego('Tateti')">Ta Te Ti</a>
                    <a class="dropdown-item" (click)="Juego('AdivinaMasListado')">Adivina + listado</a>
                    <a class="dropdown-item" (click)="Juego('AgilidadaMasListado')">Agilidad + listado</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-light" routerLink="/QuienSoy"><i class="fa fa-user"></i> ¿Quien Soy? </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-light" href="https://github.com/seba1705" target="_blank"><i
                        class="fab fa-github"></i> GitHub</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-light"></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-light logout" (click)="salir()">
                    <i class="fas fa-sign-out-alt"></i>
                    Cerrar sesion
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link text-light opciones" routerLink="/Login" *ngIf="!isLogged">Ingresar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-light opciones" routerLink="/Registro" *ngIf="!isLogged">Registrarse</a>
            </li>
        </ul>

    </div>
</nav>