<div class="panel panel-default">
    <div class="hero-text">
        <h1 style="font-size:50px">Sala de Juegos</h1>
        <p>Sebastián Aguirre</p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">     
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Registro"><i class="fas fa-user"></i>  Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Login"><i class="fas fa-sign-in-alt"></i>  Ingresar</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="https://github.com/seba1705" target="_blank" class="mr-4">en GitHub <i class="fab fa-github"></i></a>
                <a routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>
            </span>
        </div>
    </nav>
</div>